.timeline {
    margin-top: 1.1rem;
    position: relative;
}

.languages, .skills {
    padding: 0.5rem;
    border: 0.1rem solid white;
    border-radius: 1rem !important;
    height: 100%;
}

.languages {
    margin-right: 1%;
}

.skills {
    margin-left: 1%;
}

.timeline::before {
    border: 0.1rem solid transparent;
    background-image: linear-gradient(white 0%, #b3cde0 10%, #b3cde0 90%, white 100%);
    content: '';
    position: absolute;
    width: 0.02rem;
    right: 50%;
    height: calc(100% - 4.58rem);
    top: 2.19rem;
}

.timeline-item-year {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-bottom: 2px solid white;
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
}

.timeline-item-container {
    padding: 1rem;
    width: 40%;
    display: flex;
}

.timeline-item-container:nth-of-type(even) {
    margin-right: 55%;
}

.timeline-item-container:nth-of-type(odd) {
    margin-left: 56.35%;
}

.timeline-item-connect::after, .timeline-item-connect::before {
    content: '';
    position: absolute;
}

.timeline-item-connect::before {
    border-color: transparent transparent white transparent;
    border-style: none none solid none;
    border-width: 0 0 0.09rem 0;
    width: 30%;
}

.timeline-item-connect::after {
    background-color: white;
    border-radius: 1rem;
    height: 0.6rem;
    width: 0.6rem;
    right: 49.75%;
    transform: translate(0, -0.25rem);
}

.timeline-item-container:nth-of-type(even) span::before {
    right: 50.3%;
}

.timeline-item-container:nth-of-type(odd) span::before {
    left: 50%;
}

.timeline-item {
    border-radius: 2rem;
    padding: 1rem;
    min-width: fit-content;
    width: 100%;
}

.small-title {
    color: black;
    border-left: 0.3rem solid #6497b1;
    border-radius: 0.5rem 0.25rem 0.25rem 0.5rem !important;
    background-color: #b3cde0 !important;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: fit-content;
}

@media (max-width: 899px) {
    .languages {
        margin-right: 0;
        margin-bottom: 0.5rem;
        height: auto;
    }

    .skills {
        margin-left: 0;
        height: auto;
    }
}

/* Mobile layout */
@media (max-width: 800px) {
    .timeline-item-year {
        margin-left: 0;
    }

    .timeline::before {
        left: 3.81rem;
    }

    .timeline-item-container:nth-of-type(even), .timeline-item-container:nth-of-type(odd) {
        width: 85%;
        margin-left: 15%;
        margin-right: 0;
    }

    .timeline-item-container:nth-of-type(even) span::before, .timeline-item-container:nth-of-type(odd) span::before {
        left: 3.81rem;
        width: 30%;
    }

    .timeline-item-container:nth-of-type(even) span::after, .timeline-item-container:nth-of-type(odd) span::after {
        left: 3.63rem;
    }
}

@media (max-width: 600px) {
    .timeline::before {
        left: 3.41rem;
    }

    .timeline-item-container:nth-of-type(even) span::before, .timeline-item-container:nth-of-type(odd) span::before {
        left: 3.5rem;
    }

    .timeline-item-container:nth-of-type(even) span::after, .timeline-item-container:nth-of-type(odd) span::after {
        left: 3.21rem;
    }
}