.section-header {
    color: white;
    background: radial-gradient(ellipse, rgba(0, 0, 0, 0.4) 0, transparent 75%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.section {
    padding: 0 1.5rem 1.5rem;
}

.gradient {
    background: linear-gradient(-45deg, #011f4b, #6497b1, #005073, #1ebbd7, #107dac);
    background-size: 800% 800%;
    -webkit-animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
    animation: Gradient 5s ease infinite;
}

.paused {
    -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
    animation-play-state: paused;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

.about-text {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 2rem !important;
    padding: 1.5rem 1.5rem 1rem 1.5rem !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}