.menubar {
    min-height: 3.6rem;
    transition: min-height 1s;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    display: flex;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.menubar-container {
    position: fixed;
    top: -3px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.menubar-contact-copy {
    display: flex;
    color: white;
}

.menubar-contact {
    margin: auto 0.5rem auto auto;
}

.menubar-logo {
    cursor: pointer;
    height: fit-content;
    font-size: 12pt !important;
    margin: auto 1rem !important;
    min-width: fit-content;
}

.menubar-desktop {
    display: block !important;
}

.menubar-mobile {
    display: none !important;
}

@supports ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) {
    .menubar {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.menubar-button {
    background-color: #6497b1;
    color: white;
    border-radius: 5px;
    display: block;
    height: 2.2rem;
    font-size: 1rem;
    border: 1px solid #50788d;
    border-bottom: 4px solid #50788d;
    transition: all 0.1s;
    cursor: pointer;
    margin: auto 0.25rem;
}

.menubar-button:active {
    border-bottom: 2px solid #50788d;
}

.menubar-buttons {
    display: flex;
}

.hamburger {
    width: 48px;
    height: 48px;
    background-color: white;
    position: relative;
    cursor: pointer;
    border-radius: 2px;
}

.bun {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 9px;
    left: 9px;
    transition: transform .18s cubic-bezier(0.04, 0.04, 0.12, 0.96) .15s;
}

.bun-crust {
    display: block;
    width: 17px;
    height: 1px;
    background-color: white;
    border-radius: 1px;
    position: absolute;
    left: 7px;
    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .25s;
}

.bun-crust-top {
    top: 14px;
    transform: translateY(-3px);
}

.bun-crust-bottom {
    bottom: 14px;
    transform: translateY(3px);
}

#menubar-menu-toggle:checked + .hamburger .bun-top {
    transform: rotate(45deg);
}

#menubar-menu-toggle:checked + .hamburger .bun-bottom {
    transform: rotate(-45deg);
}

#menubar-menu-toggle:checked + .hamburger .bun-crust-top,
#menubar-menu-toggle:checked + .hamburger .bun-crust-bottom {
    transform: none;
    transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}

.menubar-menu-toggle {
    transform: translateY(0.1rem);
    -moz-transform: translateY(0.8rem);
}

.pop-in {
    animation: pop-in 1s;
    animation-fill-mode: both;
}

.menubar-contact-copy.pop-in {
    animation: none;
}

/* Mobile layout */
@media (max-width: 700px) {
    .menubar-desktop {
        display: none !important;
    }

    .menubar-mobile {
        display: block !important;
    }

    .menubar {
        min-height: 3rem;
    }

    .menubar-logo {
        position: absolute;
        /*left: calc(50.25% - 100px);*/
        top: 0.9rem;
        margin: 0 !important;
    }

    .menubar.menu-mobile-active {
        min-height: 12.5rem;
    }

    .menubar-buttons {
        display: block;
        height: 0;
        transition: height 0s;
        transition-delay: 2s;
        overflow: hidden;
        width: 100%;
        top: 3rem;
        position: absolute;
    }

    .menubar-buttons.menu-mobile-active {
        height: 60%;
        overflow: visible;
    }

    .menubar-button {
        width: 92%;
        margin: 0.5rem auto 0 auto;
    }

    .menubar-button.pop-out {
        animation: pop-out 0.25s;
        animation-fill-mode: both;
    }

    .menubar-contact {
        position: absolute;
        right: 0.1rem;
        animation: none;
    }
}

/* Hide contact info */
@media (max-width: 550px) {
    .menubar-contact.menu-mobile-active {
        height: 48px;
        transition-delay: 0s;
    }

    .menubar-contact {
        position: absolute;
        right: 0.1rem;
        top: 2.5rem;
        height: 0;
        overflow: hidden;
        transition: height 1ms;
        transition-delay: 1s;
    }

    .menubar-contact.pop-in {
        animation: pop-in 1s;
        animation-fill-mode: both;
        animation-delay: 0.25s;
        overflow: visible;
    }

    .menubar-contact.pop-out {
        animation: pop-out 0.25s;
        animation-fill-mode: both;
        animation-delay: 360ms;
    }

    .menubar.menu-mobile-active {
        min-height: 15rem;
    }

    .menubar-buttons {
        top: 5.5rem;
    }
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pop-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}